@import "../../styles/variables";

.content {
    width: 100%;

    .user {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        h4 {
            margin: 0 10px;
            color: $dark-blue;
        }

        span {
            color: $grayish-blue;
        }

        .user-tag {
            margin-right: 10px;
            background: $moderate-blue;
            width: 40px;
            height: 20px;
            display: flex;
            justify-content: center;
            line-height: 100%;

            span {
                color: white;
                font-size: .9rem;
                font-weight: 600;
            }
        }
    }

    .text {
        color: $grayish-blue;
        font-weight: $fw-regular;

        .tagged-name {
            color: $moderate-blue;
            margin: 0;
            display: inline-block;
        }
    }

    .editable-textarea {
        width: 90%;
        min-height: 100px;
    }

    .btn-group {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        .btn-update {
            border-radius: 8px;
            color: #fff;
            background: $moderate-blue;
            padding: 12px 20px;
            font-weight: 700;   
            cursor: pointer
        }
    }
}